<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class='main'>
        <h1>Welcome to HoneyBee's Market Place</h1>
        <p>Please register to see our products or add your own</p>
        <p>Already have an account? <a href='/'>Sign In</a></p>
        <form action='/register/' method='post'>
            {% csrf_token %}
            <section class='row'>
                <label for='firstName'>First Name:</label>
                <input type='text' name='firstName' id='firstName'>
            </section>
            <section class='row'>
                <label for='lastName'>Last Name:</label>
                <input type='text' name='lastName' id='lastName'>
            </section>
            <section class='row'>
                <label for='username'>Username:</label>
                <input type='text' name='username' id='username'>
            </section>
            <section class='row'>
                <label for='password'>Password:</label>
                <input type='password' name='password' id='password'>
            </section>
            <button>Submit and Login</button>
        </form>
    </div>
    <footer>
        {% for foot in footer %}
        <p>{{foot}}</p>
        {% endfor %}
    </footer>
</body>
</html>